.field-block {
  display: block;
}

.datepicker {
  width: 250px;
  height: 250px;
}

.parent-grid {
  display: grid;
  grid-template-rows: repeat(24, minmax(50px, 1fr));
  width: 100%;
  position: relative;
}

.grid-item {
  grid-row-gap: 0px;
  border: 1px solid lightgray;
}

.grid-item-week {
  grid-row-gap: 0px;
  position: relative;
  border: 1px solid lightgray;
}

.timelabel {
  position: relative;
  top: 70%;
  /* z-index: 15; */
  font-weight: lighter;
  color: gray;
}

.timelabel__month {
  position: relative;
  /* top: 30%; */
  text-align: center;
  /* z-index: 15; */
  font-weight: lighter;
  color: gray;
}

.timelabel__date {
  position: relative;
  top: 10%;
  text-align: center;
  /* z-index: 15; */
  font-weight: bold;
  color: gray;
}

.grid-weekview {
  display: grid;
  position: relative;
  width: 100%;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(24, minmax(50px, 1fr));
}

.grid-monthview {
  display: grid;
  width: 100%;
  position: relative;
  grid-template-columns: repeat(7, minmax(80px, 1fr));
  grid-template-rows: repeat(6, minmax(70px, 1fr));
}
